<nav class="navbar navbar-dark">
<%= button_to ("sign_out"), destroy_user_session_path, method: :delete,  class:'btn btn-warning log counter' %>
</nav>
<main class= "main">

<h1 class="title">Between light and shadow</h1>
    <ul>
    <% @users.each do |user| %>
        <li class="grow">
        <div>
        <div>

    <div><%= image_tag (user.photo) unless user.photo.nil? %></div>
    <div>
    <div>
    <div class="user"><%= link_to (user.name),user_path(user.id) %></div>
            <button class="btn btn-warning home counter" >Number of posts: <%= user.posts_counter%></button>
            <%end%>
            </div>
            </div>
            </div>
            </div>
            </li>
    </ul>
    </main>

